body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
header {
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
}
nav > a {
  text-decoration: none;
  color: white;
}
nav > a:hover {
  border-bottom: 1px solid cyan;
}
div > .box-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 2px solid blue;
}

aside {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 13;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
  border: 2px solid red;
}
.container-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  text-align: center;
  border: 2px solid blue;
  margin: auto;
  width: 90%;
  height: 75vh;
  padding: 0px;
}
.imge {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-2 > div > img {
  padding: 0;
  margin: 0;
}
div > img {
  border: 2px solid red;
}
.image {
  width: 80%;
  margin-left: 10%;
}
.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.content {
  text-align: center;
  color: black;
}
nav > a {
  border: 2px solid red;
}
.logo {
  grid-column-start: 1;
  grid-column-end: 2;
}
.a {
  grid-column-start: 6;
  grid-column-end: 8;
  margin: 16px;
  padding-top: 16px;
}
.b {
  grid-column-start: 8;
  grid-column-end: 9;
  padding-top: 16px;
  margin: 16px;
}
.c {
  grid-column-start: 9;
  grid-column-end: 10;
  padding: 16px;
  margin: 5px;
}
.d {
  grid-column-start: 10;
  grid-column-end: 11;
  padding: 16px;
  margin: 16px;
}
.e {
  grid-column-start: 11;
  grid-column-end: 12;
  padding: 16px;
  margin: 16px;
}
.button {
  grid-column-start: 12;
  grid-column-end: 13;
  font-size: 16px;
  display: inline-block;
  padding: 16px;
  margin: 16px;
  color: black;
}

aside > nav > div > a.button {
  border-radius: 20px;
  background-color: cyan;
  text-decoration: none;
}
.img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.img2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.img4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.img5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.content-2 > h2 {
  text-align: center;
}
div > p {
  font-size: 20px;
  margin-left: 3%;
}
.dropdown {
  width: 90%;
  height: 50px;
  font-size: 20px;
  margin-left: 5%;
}
.job-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid red;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid black;
}
.job-section > div {
  /* border: 2px solid red; */
  border-bottom: 1px solid black;
}
.main-tittle {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.tittle {
  grid-row-start: 2;
  grid-row-end: 3;
}
.right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  padding-top: 20px;
}
span {
  text-align: right;
}
.tittle-2 {
  grid-row-start: 3;
  grid-row-end: 4;
}
.right-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  padding-top: 20px;
}
.tittle-3 {
  grid-row-start: 4;
  grid-row-end: 5;
}
.right-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  padding-top: 20px;
}
.tittle-4 {
  grid-row-start: 5;
  grid-row-end: 6;
}
.right-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
  padding-top: 20px;
}
footer {
  background-color: black;
  color: white;
}
.container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 2px solid red;
  padding: 20px;
}
.container-3 > div {
  border: 2px solid red;
}
.txt-center {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.btn {
  background-color: cyan;
  border-radius: 50px;
  font-size: 16px;
  padding: 14px;
  color: black;
}
.txt-center > a {
  text-decoration: none;
}
.txt-center > a:hover {
  background-color: blue;
}
.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 20px;
  color: white;
}
.footer-bottom > div {
  border: 2px solid red;
}
.left-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.left-content > ul {
  list-style: none;
  border: 2px solid red;
}
.left-content > ul li {
  display: inline;
  padding-left: 10px;
}
.left-content > ul > li > a {
  text-decoration: none;
  color: white;
}
.left-content > ul > li > a:hover {
  border-bottom: 1px solid cyan;
}
.footer-copyright > p {
  text-size-adjust: 10px;
}
.social {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer-bottom > ul > li > a {
  text-decoration: none;
  color: white;
}
.footer-bottom > ul {
  list-style: none;
}
.footer-bottom > ul > li {
  display: inline;
  padding-left: 20px;
}
/* .nav-item{

} */
@media (max-width: 800px) {
  nav {
    display: block;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .container-2 {
    display: block;
    width: 80%;
    height: 100%;
  }
  i {
    justify-items: end;
    justify-content: space-between;
  }
  nav {
    display: none;
  }
  .job-section {
    display: block;
    height: 100%;
  }
  hr {
    text-decoration: none;
  }
  .footer-bottom {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .left-content {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .social {
    justify-content: center;
    padding: 0px;
  }
}
aside > .hamburger {
  padding: 10px;
}
